{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeta Invest</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.webp' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container" id="success-id">
      <h1>TABRIKLAYMIZ SIZ MUOFAQIYATLI RO'YXATDAN O'TDINGIZ!</h1>
      <button><p><a href="https://t.me/ZetaInvest" target="_blank">Telegram kanalga o'tish</a></p></button>
    </div>
</body>
</html>